*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../src/image/G.jpeg");
  width:100%;
  height: 100%;
  margin: 0;
  background-size: 100%;
  background-attachment: fixed;
  position: absolute;
  display: block;
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
